[submodule "tomboy-library"]
	path = tomboy-library
	url = https://github.com/Dynalon/tomboy-library.git
[submodule "JsonConfig"]
	path = JsonConfig
	url = https://github.com/Dynalon/JsonConfig.git
[submodule "tomboy-library-websync"]
	path = tomboy-library-websync
	url = git@github.com:Dynalon/tomboy-library-websync.git
