<script type="text/ng-template" id="login.html">

<!-- login form -->
<h2>Login</h2><hr />
<form ng-submit="doLogin()">
    <div class="row">
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Username/Email</label>
                <div class="controls">
                    <input type="text" ng-model="username" id="inputUsername" placeholder="Username or Email">
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                  <input type="password" ng-model="password" id="inputPassword" placeholder="Password">
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="span6"
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" ng-show="allowRememberMe">
                        <input type="checkbox" ng-model="rememberMe"> Remember me
                    </label>
                    <div class="alert alert-error" ng-show="rememberMe">
                    Warning: Chosing to remember the login will store a crypto key on this computer that can be used to decrypt your notes. For security reasons, that key lasts only 14 days or until you logout.
                    </div>

                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" ng-show="allowSignup">
    <!-- signup form -->
    <div class="span6">
        <div class="alert">Don't have an account yet? Click <a href="register">here
            to sign up!</a>
        </div>
    </div>
</div>

</script>
