<script type="text/ng-template" id="login.html">

<!-- login form -->
<div class="row">
    <div class="span4">
        <h2>Login</h2>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Username/Email</label>
            <div class="controls">
                <input type="text" ng-model="username" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" ng-model="password" id="inputPassword" placeholder="Password">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <!-- <label class="checkbox" ng-click="doLogin">
                    <input type="checkbox"> Remember me
                </label>
                -->
                <button ng-click="doLogin()" class="btn">Sign in</button>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <!-- signup form -->
    <div class="span4">
        <div class="alert">Don't have an account yet? Click <a href="register">here
            to sign up!</a>
        </div>
    </div>
</div>

</script>
