<script type="text/ng-template" id="notes.html">

<div class="container">
    <div class="row">
        <h3>{{ username }}&#39;s notes</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- SEARCH INPUT -->
            <form class="">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                        <input type="text" ng-model="search_term" class="form-control" placeholder="Search notes...">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
        <!-- CONTROLLS -->
            <button class="btn btn-primary" ng-click="newNote()">
                <i class="glyphicon glyphicon-plus"></i>
                New note
            </button>
            <button class="btn btn-danger" ng-click="deleteNote()" ng-disabled="selectedNote == null">
                <i class="glyphicon glyphicon-trash"></i>
                Delete note
            </button>
            <a ng-disabled="!enableSyncButton" rel="tooltip" id="sync_btn" class="btn btn-primary" ng-click="sync()">
                <i class="glyphicon glyphicon-refresh"></i>
                Sync
            </a>
        </div>
    </div><!-- /row -->

    <!-- NOTEBOOKS -->
    <div class="row" style="margin-top: 1em;">
        <div class="col-md-3">
            <div class="panel panel-default" ng-repeat="(name,notes) in notebooks" ng-show="(notes | filter: search_term).length > 0">
                <div class="panel-heading" >{{ name }}</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="note in notes | filter: search_term">
                            <a href="#/notes/{{ note.guid }}">{{ note.title }} </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/span-->

        <div class="col-md-9" ng-show="selectedNote">
            <!-- DEBUG TXTAREA SHOWING THE RAW HTML SRC OF A NOTE - ONLY IN DEVELOPMENT MODE -->
            <textarea ng-show="config.DevelopmentMode && false" style="width:700px; height: 200px;">{{ selectedNote['note-content'] }}</textarea>

            <wysiwyg />

        </div>
    </div><!--/row-->
</div><!--/container-->
</script>
