<script type="text/ng-template" id="notes.html">

<h3>Your notes</h3>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <!-- SEARCH INPUT -->
                <div class="input-prepend pull-left">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input ng-model="search_term" type="text" placeholder="Search notes..." />
                </div>
            </div>
            <div class="span3">
            <!-- CONTROLLS -->
                <button class="btn btn-primary" ng-click="newNote()">
                    <i class="icon-plus"></i>
                    New note
                </button>
                <button class="btn btn-danger" ng-click="deleteNote()" ng-disabled="selectedNote == null">
                    <i class="icon-trash"></i>
                    Delete note
                </button>
                <button class="btn pull-right" ng-click="sync()">
                    <i class="icon-refresh"></i>
                </button>
            </div>
        </div><!-- /row -->
        <div class="row-fluid">
            <div class="span3">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <div ng-repeat="(name,notes) in notebooks">
                        <li class="nav-header" ng-show="(notes | filter: search_term).length > 0">{{ name }}</li>
                            <li ng-repeat="note in notes | filter: search_term">
                            <a href="#/notes/{{ note.guid }}">{{ note.title }} </a>
                            </li>
                        </div>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->

            <div class="span9" ng-show="selectedNote">
                <div class="control-group">
                    <h2 id="noteTitle" ng-model="selectedNote.title" contenteditable="true">{{ selectedNote.title }}</h2>
                    <div class="controls">
                        <textarea id="txtarea"
                            style=""
                            rows="20"
                            class="span10"
                            ng-trim="false"></textarea>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->
</script>
